/* <--- Import Google Font ---> */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* <--- General ---> */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d273b;
  font-weight: 300;
}

.contenedor,
.contenedor1 {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  width: 90%;
}
.contenedor1 {
  padding: 60px 0;
}

h1 {
  font-size: 50px;
}

/* <--- Header ---> */
header::before {
  content: "";
  display: block;
  margin-bottom: 80px;
}

nav {
  background: #fff;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  /* transition: ease-in-out .5s; */
}
.nav {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;
}

.nav .logo {
  height: 80px;
}

.nav .logo img {
  height: 100%;
  vertical-align: top;
}

.nav-header {
  font-weight: 300;
}

.nav .enlaces-header a {
  color: #5d6678;
  margin-left: 20px;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
  display: none;
  height: 80px;
  /* transition: color 0.5s ease-in; */
  text-align: center;
  width: 80px;
  z-index: 100;
}
.hamburger > i {
  font-size: 25px;
  line-height: 80px;
}

.contenido-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 100%;
}

.contenido-header > img {
  width: 550px;
  animation: ease-in animate 1s;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.textos-header {
  margin: 0 0 0 30px;
}

.contenido-header p {
  font-weight: 100;
  margin-top: 14px;
  color: #5d6678;
}

.contenido-header a {
  background: #1fde82;
  border-radius: 5px;
  box-shadow: 0px 8px 32px rgba(31, 222, 130, 0.46);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 28px 0 0 0;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 130px;
}

.titulo {
  font-size: 50px;
}

/* <--- About us ---> */

.abaout-us {
  background: #f2f2f2;
}

.contenedor-articulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}

.articulo {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 45px 30px 60px 30px;
  transition: 0.5s;
  width: 29%;
}

.articulo:hover {
  box-shadow: 0 4px 10px rgba(17, 29, 48, 0.26);
}

.articulo > i {
  background: #1fde82;
  border-radius: 50%;
  box-shadow: 0px 8px 32px rgba(31, 222, 130, 0.46);
  color: #fff;
  display: inline-block;
  font-size: 30px;
  height: 70px;
  padding-top: 20px;
  text-align: center;
  width: 70px;
}

.articulo > h3 {
  font-size: 24px;
  margin-top: 30px;
}

.articulo p {
  color: #5d6678;
  font-weight: 100;
  margin-top: 15px;
  padding-bottom: 20px;
}

.articulo a {
  color: #5d6678;
  font-weight: 400;
  text-decoration: none;
}

.articulo a:hover {
  color: #1fde82;
  transition: color 0.5s;
}

.questions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 600px;
}

.questions > img {
  width: 550px;
}

.textos-questions {
  margin: 0 0 0 30px;
}

.textos-questions p {
  font-weight: 100;
  margin-top: 14px;
  color: #5d6678;
}

.textos-questions a {
  background: #1fde82;
  border-radius: 5px;
  box-shadow: 0px 8px 32px rgba(31, 222, 130, 0.46);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 28px 0 0 0;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 130px;
}

.titulo {
  font-size: 50px;
}

/* <--- Result ---> */

.results {
  background: #2570ff;
  padding-top: 30px;
}

.content-results {
  display: flex;
  justify-content: space-evenly;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
}

.numbers .number {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #fff;
  padding: 40px 35px;
  margin-bottom: 20px;
  width: 45%;
}

.numbers .number h4 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

.numbers .number p {
  color: #f2f5fc;
  font-weight: 300;
}

.result-text {
  width: 37%;
}

.result-text h4 {
  color: #fff;
  font-size: 40px;
}

.result-text p {
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
}

.result-text > a {
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

/* <--- Service ---> */

.services {
  display: flex;
  justify-content: space-between;
}

.services > img {
  width: 500px;
}

.box-skills {
  margin: 30px 30px 0 0;
}

.box-skills h4 {
  background: #f2f2f2;
  border-radius: 6px;
  font-size: 24px;
  padding: 10px 0 10px 15px;
  margin-bottom: 10px;
  width: 350px;
}

.box-skills i {
  color: #1fde82;
  font-size: 20px;
}

/* <--- Footer ---> */

footer {
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 60px 0;
  overflow: hidden;
}

.partFooter {
  text-align: center;
  width: 20%;
}

.partFooter h4 {
  color: #1d273b;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partFooter a {
  color: #5d6678;
  display: block;
  text-decoration: none;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.partFooter a:hover {
  color: #1fde82;
}

.social-media i {
  border: 1px solid #adb6c7;
  border-radius: 50%;
  color: #adb6c7;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 38px;
  margin-top: 20px;
  margin-right: 5px;
  line-height: 36px;
  transition: all ease-in-out 0.3s;
  text-align: center;
  width: 38px;
}

.social-media i:hover {
  background-color: #1fde82;
  border-color: #1fde82;
  color: #fff;
}

.partFooter img {
  width: 70%;
}

/* <--- Breakpoints Responsive --->*/

@media screen and (max-width: 900px) {
  /* <--- Header ---> */

  .titulo {
    font-size: 45px;
  }

  .contenido-header {
    flex-direction: column;
    height: 720px;
    justify-content: space-evenly;
  }

  .contenido-header img {
    width: 400px;
  }
  .textos-header {
    margin: 0;
  }

  /* <--- About us ---> */

  .articulo {
    width: 45%;
  }

  /* <--- Questions ---> */

  .questions {
    height: 720px;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .questions > img {
    width: 400px;
  }

  /* <--- Results ---> */

  .content-results {
    flex-direction: column-reverse;
  }

  .result-text > a {
    margin-bottom: 60px;
  }

  .result-text {
    text-align: center;
    width: 100%;
  }

  .numbers {
    justify-content: space-around;
    width: 100%;
  }

  .numbers .number {
    margin-bottom: 30px;
  }

  /* <--- Services ---> */

  .services {
    align-items: center;
    flex-direction: column-reverse;
  }

  .box-skills {
    margin: 0 0 40px 0;
  }

  .box-skills h4 {
    width: 500px;
  }

  .services img {
    width: 400px;
  }

  /* <--- Footer ---> */

  footer {
    justify-content: space-evenly;
  }

  .partFooter {
    margin-bottom: 40px;
    width: 40%;
  }
}

@media screen and (max-width: 610px) {
  /* <--- Header ---> */

  .titulo {
    font-size: 35px;
  }
  h1 {
    font-size: 40px;
  }
  .contenido-header {
    height: 650px;
  }
  .nav {
    padding: 0 10px;
  }

  .enlaces-header {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .contenido-header > img {
    width: 300px;
  }

  /* <--- About us ---> */

  .articulo {
    width: 95%;
  }

  /* <--- Questions ---> */

  .questions > img {
    width: 300px;
  }

  /* <--- Results ---> */

  .numbers .number {
    width: 95%;
  }

  .result-text h4 {
    font-size: 35px;
  }

  /* <--- Services ---> */

  .services > img {
    width: 300px;
  }

  .box-skills h4 {
    width: 300px;
  }

  /* <--- Footer ---> */

  .partFooter {
    width: 95%;
    margin-bottom: 40px;
  }

  .partFooter > img {
    width: 60%;
  }
}

@media screen and (max-width: 375px) {
  /* <--- Header ---> */

  .titulo {
    font-size: 30px;
  }

  h1 {
    font-size: 35px;
  }

  .contenido-header {
    height: 600px;
  }

  .contenido-header > img {
    width: 250px;
  }

  /* <--- About us ---> */

  .contenedor-articulo {
    margin-top: 20px;
  }

  /* <--- Questions ---> */

  .questions > img {
    width: 250px;
  }

  /* <--- Results ---> */

  .result-text h4 {
    font-size: 35px;
  }

  /* <--- Services ---> */

  .box-skills h4 {
    width: 100%;
  }

  .box-skills > img {
    width: 250px;
  }

  /* <--- Footer ---> */
}
